* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: #f5f5f5;
}
.main-header {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: #000;
}
.sub-1 {
  padding-left: 3rem;
  align-items: center;
}
.sub-2 {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
}
.button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.2rem;
  transition: 0.8s ease;
  color: #f1f1f1;
}
.contacts {
  color: #f1f1f1;
}
.contacts:hover {
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
.pic {
  background-image: url("https://img.freepik.com/free-photo/view-wavy-ocean-sea-water_23-2150869852.jpg");
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.pic > p {
  color: aliceblue;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 5px;
  font-size: 3rem;
}
.tem-1 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 450%;
  left: 43%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.3s ease;
  z-index: 9999;
}
.social {
  padding: 0.5rem;
  color: black;
  text-align: center;
  transition: 1s ease;
}
.tem-2 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 450%;
  left: 58%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.3s ease;
  z-index: 9999;
}
.data {
  padding: 0.5rem;
  color: black;
  text-align: center;
  transition: 1s ease;
}
.tem-3 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 185%;
  left: 74%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.3s ease;
  z-index: 9999;
}
.info {
  padding: 0.5rem;
  color: black;
  text-align: center;
  transition: 1s ease;
}
.main-container a {
  padding: 1rem;
  border: none;
}
.home:hover {
  background-color: #f1f1f1;
  color: #000;
}
.pages:hover {
  background-color: #f1f1f1;
  color: #000;
}
.components:hover {
  background-color: #f1f1f1;
  color: #000;
}
.contact:hover {
  background-color: #f1f1f1;
  color: #000;
}
.home:hover .tem-1 {
  visibility: visible;
  opacity: 1;
}
.pages:hover .tem-2 {
  visibility: visible;
  opacity: 1;
}
.components:hover .tem-3 {
  visibility: visible;
  opacity: 1;
}
.social:hover {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  transform: scale(1.1);
}
.data:hover {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  transform: scale(1.1);
}
.info:hover {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  transform: scale(1.1);
}
.bi {
  font-size: 2rem;
  display: none;
}
@media screen and (width<=600px) {
  .sub-2 {
    display: grid;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    grid-template-columns: repeat(4, 1fr);
  }
  .tem-1 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 35vh;
    left: 8%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0.8s, opacity 0.3s ease;
    z-index: 9999;
  }
  .button {
    padding: 10px;
    font-size: 12px;
  }
  .tem-2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 35vh;
    left: 30%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0.8s, opacity 0.3s ease;
    z-index: 9999;
  }
  .tem-3 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 15vh;
    left: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0.8s, opacity 0.3s ease;
    z-index: 9999;
  }
  .pic > p {
    font-size: 1.5rem;
  }
  .pic {
    height: 55vh;
  }
  .sub-1 {
    padding-left: 0.5rem;
  }
}
@media screen and (width<=400px) {
  .sub-1 {
    display: none;
  }
  .sub-2 {
    display: grid;
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    grid-template-columns: repeat(4, 1fr);
    background-color: #000;
    padding: 0.2rem 2.5rem;
  }
  .tem-1 {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 31vh;
    left: 16%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0.8s, opacity 0.3s ease;
    z-index: 9999;
  }
  .tem-2 {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 31vh;
    left: 30%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0.8s, opacity 0.3s ease;
    z-index: 9999;
  }
  .tem-3 {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 12vh;
    left: 48%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: visibility 0.8s, opacity 0.3s ease;
    z-index: 9999;
  }
}
section {
  position: relative;
  margin-bottom: 15rem;
  margin-top: 8rem;
}
.container {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
}
.container-1 {
  display: flex;
}
.rout {
  text-decoration: none;
  color: #f1f1f1;
  background-color: #000;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.375rem 2.188rem;
  font-size: 0.875rem;
  border-radius: 0.188rem;
  border: 1px solid black;
}
.rout-1 {
  text-decoration: none;
  color: #000;
  background-color: #f1f1f1;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.375rem 2.188rem;
  font-size: 0.875rem;
  border-radius: 0.188rem;
}
.pic-1 {
  mask-image: radial-gradient(#fff, #000);
  border-radius: 0.625rem !important;
  overflow: hidden !important;
  margin-top: 0 !important;
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
  flex: 0 0 auto;
  width: 58.33333333%;
  max-width: 100%;
}
.phot {
  width: 100% !important;
  vertical-align: middle;
  border-radius: 0.625rem !important;
}
.part-1 {
  text-align: center !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.part-2 {
  flex: 0 0 auto;
  width: 58.33333333%;
  max-width: 100%;
  padding-right: calc(var(--reign-gutter-x) * 0.5);
  padding-left: calc(var(--reign-gutter-x) * 0.5);
  margin-top: var(--reign-gutter-y);
}
.text {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  transform: translate(0px);
  opacity: 1;
  font-weight: 500 !important;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-size: calc(1.2978rem + 0.5736vw);
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-family: "raleway";
  color: #000;
}
p {
  transform: translate(0px);
  opacity: 1;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: #5f656c;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
.contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  gap: 80px;
  text-align: center;
  margin: 0 auto;
  justify-content: space-evenly;
}
.contain-1 {
  width: 100%;
  height: 50vh;
}
.item {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.route {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #000;
  background-color: #f1f1f1;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  padding: 0.375rem 2.188rem;
  font-size: 0.875rem;
  border-radius: 0.188rem;
  display: none;
  border: 1px solid white;
}
.heading {
  letter-spacing: 0.05em !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  margin-top: 1.25rem !important;
  line-height: 1.875rem;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  color: #5f656c;
}
.root {
  color: var(--reign-900) !important;
  text-decoration: none;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  line-height: 1.875rem;
  text-transform: uppercase;
}
.pic-2 {
  background-image: url("https://prium.github.io/reign-IV/v5.0.0/assets/img/backgrounds/showcase-testimonial.jpg");
  position: relative;
  width: 100vw;
  min-height: 80vh;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con {
  position: absolute;
  width: 6.25rem !important;
  height: 6.25rem;
  top: -25%;
  left: 40%;
  z-index: 1;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 6.25rem;
  background-color: #525b83;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50% !important;
  overflow: hidden !important;
}

.contain-3 {
  position: relative;
  max-width: 50%;
  width: 100%;
  height: 35vh;
  border-radius: 0.625rem !important;
  background-color: #f1f1f1;
  margin: 0 auto;
}
.contain-4 {
  padding-right: 0.625rem !important;
  padding-left: 0.625rem !important;
  text-align: left;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
  margin: 0 auto;
}
.john {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.five {
  margin-right: 0.3125rem !important;
  color: #5f656c;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 1;
  margin-bottom: 0 !important;
}
/* .bi {
  color: #ffc107;
  margin-bottom: 0 !important;
} */
h4 {
  letter-spacing: 0.05em !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  margin-bottom: 0 !important;
  line-height: 1.875rem;
  text-transform: uppercase;
  font-family: "raleway";
  color: #000;
}
.pic-1:hover {
  transition: 0.4s ease;
  backface-visibility: hidden;
  transform: translate3d(2px, -7px, 0);
  transform-style: preserve-3d;
}
.item:hover {
  transition: 0.4s ease;
  backface-visibility: hidden;
  transform: translate3d(2px, -7px, 0);
  transform-style: preserve-3d;
}
.item:hover > .route {
  display: block;
}
.route:hover {
  overflow: hidden;
  color: #f1f1f1;
  border: 1px solid white;
  background-color: #000;
  transition: 0.4s ease;
  opacity: 1;
}
.rout:hover {
  color: #000;
  background-color: #f1f1f1;
  border: 1px solid black;
  transition: 0.4s ease;
}
.rout-1:hover {
  background-color: rgba(180, 176, 176, 0.822);
  transition: 0.6s ease;
}
.root:hover {
  text-decoration: underline;
  transition: 0.4s ease;
}
@media screen and (max-width: 740px) {
  .container-1 {
    display: block;
  }
  .pic-1 {
    padding-top: 1.25rem !important;
    width: 100%;
  }
  .rout,
  .rout-1 {
    font-size: 0.8rem;
    padding: 0.275rem 2rem;
  }
  .text {
    margin: 0 auto;
  }
  section {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .contain {
    grid-template-columns: repeat(1, 1fr);
  }
  .con {
    left: 40%;
  }
}
@media screen and (max-width: 930px) {
  .contain-3 {
    height: 50vh;
    max-width: 80%;
  }
  .con {
    top: -18%;
    left: 40%;
  }
}
@media screen and (max-width: 600px) {
  .contain-3 {
    height: 52vh;
    max-width: 90%;
  }
  .john {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .contain-3 {
    height: 60vh;
    max-width: 90%;
  }
  .con {
    top: -12%;
    left: 35%;
  }
}
.main-footer {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #17191b;
}
.ite {
  padding: 2rem;
}
.ite-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (width<=900px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2px;
  }
}
.footer {
  width: 100vw;
  background-color: #17191b;
  display: flex;
  justify-content: center;
}
.main-footer {
  width: 80%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #17191b;
}
.ite {
  padding: 1rem;
  position: relative;
}
.ite-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.stain {
  text-decoration: none;
  color: grey;
  font-weight: 500;
  line-height: 1.5;
  font-size: 0.875rem;
}
.stain:hover {
  color: rgb(21, 199, 21);
  text-decoration-line: underline;
}
h5 {
  letter-spacing: 0.05em !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  margin-bottom: 0 !important;
  line-height: 1.875rem;
  text-transform: uppercase;
  font-family: "raleway";
  color: #f1f1f1;
}
@media screen and (width<=900px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2px;
  }
}
h1{
  letter-spacing: 0.05em !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  margin-bottom: 0 !important;
  line-height: 1.875rem;
  text-transform: uppercase;
  font-family: "raleway";
  color: #5f656c;
  background-color: #17191b;
  text-align: center;
}
